* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
  font-size: 30px;
}
.guesses {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 5px;
  margin: 10px auto;
  max-width: 295px;
}

.guess-letter {
  width: 45px;
  height: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-bar {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

.show {
  visibility: visible;
}
.correct {
  background-color: darkgreen;
  color: white;
}

.incorrect {
  background-color: gray;
  color: white;
}

.wrong-spot {
  background-color: goldenrod;
  color: white;
}

.invalid {
  animation: flash 1s;
}

@keyframes flash {
  5% {
    border-color: crimson;
  }

  100% {
    border-color: #ccc;
  }
}
